@import './variables';

// Сброс стилей
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: $font-main;
  color: $text-color;
  background-color: $background-color;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  background: none;
  border: none;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
}
